/* Global Styles for Workora UI */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f7f9fb;
  color: #191c1e;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.login-card-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
}

.geometric-pattern {
  background-color: #16182c;
  background-image: radial-gradient(#2b2d42 1.5px, transparent 1.5px);
  background-size: 32px 32px;
}

